<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr2xQ5RVOnU7mvELS-MZJ0bga80xnm238</string>
	<key>GCM_SENDER_ID</key>
	<string>654277766773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-91674</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-91674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654277766773:ios:1b605eb150fbd0c513523c</string>
</dict>
</plist>